body {
  background-color: #eee;
  font-family: sans-serif;
}

.card {
  width: 440px;
  background-color: #fff;
  margin: 8px auto;
  padding: 7px;
}

.title {
  font-size:16px;
  background: #dfccee;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.content {
  background: #dfccee;
  padding: 10px;
  margin-bottom: 8px;
}

.button-container {
  text-align: center;
  background: #dfccee;
  padding: 10px;
  margin-bottom: 8px;
}

button {
  text-align: center;
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: auto;
}